<div class="min-h-screen flex flex-col">
  <header class="h-20 px-10 bg-blue-400 text-white flex items-center justify-between">
    <span class="text-2xl font-bold">Threads</span>
    <nav>
      <ul class="flex gap-x-4 text-xl">
        <li routerLinkActive="underline" class="hover:underline hover:underline-offset-4">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="underline" class="hover:underline hover:underline-offset-4">
          <a routerLink="/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="px-3 py-4">
    <router-outlet />
  </main>
</div>
